
UsersAPI/bin
UsersAPI/obj



.vs/UsersAPI/v17/

.idea/.idea.UsersAPI/.idea/

.vs/UsersAPI/FileContentIndex/

*.bin

*.v2

.vs/ProjectEvaluation/

.vs/UsersAPI/DesignTimeBuild/

UsersAPI.Test/bin/
UsersAPI.Test/obj/
